<body  style="background-color: #eec168"> 
<section class="text-Details">
  <div class=" fill background-size" style="background: url({{pet.imgPath}})">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>{{pet.name}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="card-body" >
  <h3>Hello my name is {{pet.name}} and I am a{{pet.breed}}</h3>
  <h3>I am {{pet.age}} years old</h3>
</div>

<div class="text-center">

  

  
  <div class="boton-index-2">
           <a class="inputbtnAddPet" href="/pets"><i class="fas fa-undo-alt"></i></a>

  </div>
 
</div>

</div>

</body>
 <br>