<!--<h2>USER PROFILE {{this.user.username}}</h2>-->
{{#if userInSession}}
{{!-- <section class="mainprofile"> 
    <div class="profile"> 
<h2 class="paddingtop">Welcome, {{ userInSession.username }}!</h2>
<p>This is your profile page my friend!</p><span><img class="img-profile" src="{{userInSession.image}}" /> </span>
<div class="margin">
<a name="" id="" class="inputbtn" href="/pets" role="button">My pets</a>

<br>
<br>
<a name="" id="" class="inputbtn" href="/favorites" role="button">See your favorite places</a>
</div> --}}
<br>
<div class="userProfileDaftPunk">
    <div class="shadow overflow">
        <div id="header"></div>
        <div id="profile">
            <div class="image">
                <img src="https://a4-images.myspacecdn.com/images03/2/85a286a4bbe84b56a6d57b1e5bd03ef4/300x300.jpg"
                    alt="" />
            </div>
            <div class="name">
                <h2 style="text-transform: uppercase">
                    {{ userInSession.username }}
                </h2>
            </div>
            <div class="margin">
                <div class="bottom">
                    <a name="" id="" class="inputbtn" href="/pets" role="button">My pets</a>
                </div>
                <div class="bottom">
                    <a name="" id="" class="inputbtn" href="/favorites" role="button">Favorites Places</a>
                </div>
            </div>

        </div>
    </div>
</div>



{{else}}
<p>Still no logged in user, sorry!</p>
</section>
{{/if}}