<h2>Favorite</h2>

{{#if _id}}
<h2>Your favorites places, {{username}}!</h2>
<p>This is your profile page my friend!</p><span><img src="{{image}}" /> </span>
{{/if}}

{{#each parques}}
<div class="col-md-4">
  <img class="card-img-top" src="{{image}}" alt="" />
  <div class="card-body">
    <a href="/{{this._id}}">
      <h5 class="card-title">{{this.name}}</h5>
    </a>
  </div>
  {{/each}}